body {
  margin: 0;
  padding-bottom: 170px;
}

.navbar-bg {
  background-color: #faf2cd;
 }

 .navbar-text{
  color: black;
 }
 
 .body {
   background-color: #ffffff;
 }
 
 .whatsapp-button {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 1000;
}

.Carousel{
  height: auto;
  margin-top: 105px;
} 

.custom-margin-top{
  margin-top: 150px;
}

 .footer {
   background-color: #747458;
 }

 .custom-font.size {
  font-size: medium;
 }